body {
  background-image: url("image.jpg");
  font-family: Arial, sans-serif;
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat; 
  min-height: 100vh; 

}

.texts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.texts h1 {
  margin-bottom: 10px;
}

.texts h2 {
  margin-top: 0;         
  margin-bottom: 20px;
  font-size: 100px;
}


h1 {
  color: rgb(0, 0, 0);
}

h2 {
    font-size: 100px;
}
.buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.buttons button {
   display: block;
   margin-bottom: 10px;
    width: 260px;
}

.top-btn {

  display: flex;
  gap: 10px;     
  width: 260px;  
}

#btn-inc {
    background-color: rgb(177, 14, 14);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 24px;
  border-radius: 30px;
}
#btn-inc:hover {
  background-color: rgb(129, 6, 6);
}
#btn-dec {
    background-color: rgb(177, 14, 14);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 24px;
  border-radius: 30px;
}
#btn-dec:hover {
  background-color: rgb(129, 6, 6);
}



#btn-save {
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 24px;
  border-radius: 30px;
}
#btn-save:hover {
  background-color: rgb(17, 87, 15);
}

#btn-reset {
  background-color: rgb(0, 0, 0);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 24px;
  border-radius: 30px;
}
#btn-reset:hover {
  background-color: rgb(80, 84, 80);
}
#btn-clear {
  background-color: rgb(248, 248, 248);
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  
  font-size: 24px;
  border-radius: 30px;
}
#btn-clear:hover {
  background-color: rgb(170, 170, 170);
}

#prev {
    color: rgb(0, 0, 0);
     display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;

  background-image: inherit;
  background-size: inherit;
  background-position: inherit;

  filter: blur(6px);
  transform: scale(1.05); 
  z-index: -1;
}